.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
* {
  box-sizing: border-box;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.d-flex {
  display: flex;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}
.search-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 50px;
}
.app-container {
  padding: 20px;
  padding-top: 100px;
  height: 100vh;
}
.mb-3 {
  margin-bottom: 20px;
}
.mt-3 {
  margin-top: 20px;
}
.mt-auto {
  margin-top: auto;
}
.search-input {
  margin: auto;
}
.search-input-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 60vh;
  width: 100vw;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: white;
  border-top: 1px solid black;
  padding-top: 20px;
}
.flex-column {
  flex-direction: column;
}
.text-center {
  text-align: center;
}
.top-navigation {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 20px;
  align-items: center;
}
.container {
  padding: 20px;
}
.categories-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.page-title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 80px;
}
.page-subtitle {
  text-align: left;
  margin-bottom: 30px;
}
.category-title {
  text-align: center;
}
.goal-card {
  background-color: lightgray;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 7px;
}
.goals-title {
  text-align: center;
  margin-top: 20px;
}
@keyframes goal-progression-bar {
  0% {
    width: 0;
  }
}
@-webkit-keyframes goal-progression-bar {
  0% {
    width: 0;
  }
}
@-moz-keyframes goal-progression-bar {
  0% {
    width: 0;
  }
}
@-o-keyframes goal-progression-bar {
  0% {
    width: 0;
  }
}

.goal-progression {
  margin-top: 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -ms-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid lightgray;
  margin-bottom: 10px;
}

.goal-progression-bar {
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -ms-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  -moz-animation: goal-progression-bar 1s;
  -webkit-animation: goal-progression-bar 1s;
  -ms-animation: goal-progression-bar 1s;
  animation: goal-progression-bar 1s;
  background-color: lightgray;
  display: block;
  height: 15px;
  width: 0px;
}
.select-button {
  width: 80%;
  margin-left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  height: 80px;
  border-radius: 8px;
}
.goal-card-title {
  margin-bottom: 10px;
}
.goal-card-description {
  margin-bottom: 10px;
}

.bar-outside {
  height: 150px;
  width: 60px;
  position: relative;
}
.bar-inside {
  height: 2px;
  width: 50px;
  position: absolute;
  bottom: 0;
  left: 5px;

  /* Set our transitions up. */
  -webkit-transition: height 500ms ease;
  -moz-transition: height 500ms ease;
  -o-transition: height 500ms ease;
  transition: height 500ms ease;
}

.container:hover #bar-green {height: 90%;}
#bar-green {background-color: #2ecc71;}
.container:hover #bar-red {height: 100%;}
#bar-red {background-color: #e74c3c;}

.percent {
  color: #fff;
  text-align: center;

  /* Set our transitions up. */
  -webkit-transition: color 500ms ease;
  -moz-transition: color 500ms ease;
  -o-transition: color 500ms ease;
  transition: color 500ms ease;
}
