.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
* {
  box-sizing: border-box;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.d-flex {
  display: flex;
}
.justify-content-between {
  justify-content: space-between;
}
.bottom-navigation {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 20px;
  align-items: center;
}
.container {
  padding: 20px;
}
.categories-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.page-title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}
.page-subtitle {
  text-align: left;
  margin-bottom: 30px;
}
.category-title {
  text-align: center;
}
.goal-card {
  background-color: lightgray;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 7px;
}
.goals-title {
  text-align: center;
  margin-top: 20px;
}
@keyframes goal-progression-bar {
  0% {
    width: 0;
  }
}
@-webkit-keyframes goal-progression-bar {
  0% {
    width: 0;
  }
}
@-moz-keyframes goal-progression-bar {
  0% {
    width: 0;
  }
}
@-o-keyframes goal-progression-bar {
  0% {
    width: 0;
  }
}

.goal-progression {
  margin-top: 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -ms-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid lightgray;
  margin-bottom: 10px;
}

.goal-progression-bar {
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -ms-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  -moz-animation: goal-progression-bar 1s;
  -webkit-animation: goal-progression-bar 1s;
  -ms-animation: goal-progression-bar 1s;
  animation: goal-progression-bar 1s;
  background-color: lightgray;
  display: block;
  height: 15px;
  width: 0px;
}
.mt-3 {
  margin-top: 20px;
}