.player__name {
  font-size: 24px;
  font-weight: 700;
}

.friend__text {
  font-size: 18px;
  font-weight: 500;
}

.circle {
  width: 230px;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #A32A89;
  border-radius: 50%;
  box-shadow: 0px 4px 10px -5px rgba(0,0,0,0.75);
  margin: 40px auto;
}

.ta-c {
  text-align: center;
}

.mt-8 {
  margin-top: 80px;
}

.timer {
  font-size: 80px;
}

.question-step {
  font-size: 16px;
  font-weight: 700;
}

.question-title {
  font-size: 20px;
  font-weight: 500;
  margin: 20px 0;
}

.stepper {
  width: 100%;
  height: 10px;
  border-radius: 10px;
  background-color: white;
  position: relative;
}
.stepper-line {
  background-color: #D42D98;
  height: 10px;
  transition: width 200ms ease;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.d-block {
  display: block;
}
.info {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.result-text {
  font-size: 16px;
}
.info-content {
  background-color: white;
  margin-left: 10px;
  border-radius: 10px;
  padding: 10px;
  position: relative;
}

.answertimer {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #707070;
  margin: 0;
}

.info-bravo {
  color: #707070;
  font-weight: 700;
}

.info-text {
  color: #707070;
}

